.header__layer
  .header__left
    a(href="#{header.url}" class="header__home")=header.head
    h3(class="header__description")=header.title
  .header__right
    a(href="#{header.url}" class="header__port")=header.butt
    a(href="#{header.url}"  class="header__resume")=header.butt
    a(href="#{header.url}" class="header__contact")=header.butt
